* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  color: #ffcb05;
  line-height: 1.6;
  background: repeating-linear-gradient(45deg,
      #013a79,
      #013a79 300px,
      #003a70 300px,
      #003a70 600px);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-title {
  margin-left: 10%;
  color: #FF0000;
  text-shadow: 1px 3px #990000;
  border-bottom: 2px solid #990000;
  margin-right: -8px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0 7.5%;
}

.pokemon-button {
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  background: inherit;
  transition: all 0.3s ease-in;
}

.pokemon-button:hover,
.pokemon-button:active {
  border-radius: 5px;
  background: rgba(255, 255, 255, .2);
}

button{
  color: inherit;
}

#loading {
  position: fixed;
  margin-right: 2%;
  font-size: 12px;
  top: 0;
  right: 0;
  text-align: center;
}

.dark-mode{
  background: repeating-linear-gradient(45deg,
      #c9b630,
      #c9b630 300px,
      #B3A125 300px,
      #B3A125 600px);
  color: #003a70;
}

.switch-container{
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 6%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  left: 37.5%;
  display: inline-block;
  float: left;
  width: 60px;
  height: 34px;
  background-color: #B3A125;
  box-shadow: 0px 0px 5px #003a70;
  border-radius: 34px;
}

.mode-text{
  display: inline-block;
  margin-top: 0;

}

.mode-text img{
  margin-right: 65px;
  width: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 4px;
  background-color: #003a70;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


@media all and (min-width: 1000px){
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pokemon-button {
    font-size: 28px;
    height: 35px;
    margin-top: 25px;
  }
}

@media all and (min-width: 750px) and (max-width: 1000px){
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pokemon-button {
    font-size: 28px;
    height: 35px;
    margin-top: 32px;
  }
}

@media all and (max-width: 750px) and (min-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }

  .pokemon-button {
    font-size: 30px;
    height: 35px;
    margin-top: 32px;
  }
}

@media all and (max-width: 500px) {
  .main-title {
    margin: 0;
    text-align: center;
  }

  .pokemon-list {
    grid-template-columns: 1fr;
    margin-top: 35px;
  }

  .pokemon-button {
    font-size: 36px;
    height: 45px;
    margin-top: 32px;
  }

  #loading {
    margin-right: 0;
    top: 0;
    font-size: 10px;
  }

  .switch {
    margin-top: 20px;
  }

  .switch-container{
  top: 10%;
  margin-right: 20px;
  }

  .mode-text{
    margin-top: 20px;
  }
}
