{
    "env":            {
        "es6":        true,
        "browser":    true,
        "commonjs":   true,
        "jquery":     true,
        "asi":        true,
        "esversion":  6

    },
    "extends":        [
        "eslint:recommended"
    ],
    "rules":          {
        "quotes":     ["error", "single"]
    }
}
